/*
    Meteor Autocomplete - Copyright (C) 2015  Aldric Thomazo
    aldric.dev@gmail.com

    License:  GNU General Public License

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.ldrc-autocomplete {
  z-index: 2200;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;

}
.ldrc-autocomplete  * {
  font-size: 100% !important;
}
.ldrc-autocomplete li {
  cursor: pointer;
  background-color: #FFF8F8;
  border-style: solid;
  border-width: 1px;
  border-color: #CEC9C9;
  float: none !important;

}
.ldrc-autocomplete .ldrc-state-focus {
  border: solid 1px #4a494a;
  background-color: #DEE8EA;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.ldrc-autocomplete .ldrc-box {
  padding: 2px;
  border-bottom: solid 1px #D8E8E8;
  border-right: solid 1px #D8E8E8;
  border-left: solid 1px #D8E8E8;
}
.ldrc-autocomplete li div.loader {
    background-image: url("/packages/aldricus_autocomplete/client/loader.gif");
    background-repeat: no-repeat;
    height: 35px;
    display: block;
    width: 35px;
    margin: auto;
}
.ldrc-input-container input{
   box-sizing: border-box;

}

